/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1700px) {
	body {
		font-size: 15px;
		line-height: 25px;
	}
	.header-info {
		font-size: 12px;
		line-height: 18px;
	}
	.search-form {
		width: 220px;
	}
	.logo img {
		width: 170px;
	}
	.logo-descr {
		font-size: 11px; 
		line-height: 16px;
		margin-left: 18px;
		max-width: 176px;
	}
	.title-billbord {
		font-size: 53px;
		line-height: 65px;
	}
	.billbord__wrap .title-billbord {
		max-width: 455px;
	}
	.value-billbord {
		font-size: 32px;
		line-height: 39px;
		padding: 19px 33px;
		margin-left: 24px;
		max-width: 214px;
	}
	.name-billbord {
		font-size: 27px;
		line-height: 29px;
	}
	.list-billbord {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 25px;
		max-width: 735px;
	}
	.billbord {
		padding-top: 50px;
		min-height: 567px;
	}
	.item-advantage__title {
		font-size: 33px;
		line-height: 40px;
	}
	.title-min {
		font-size: 18px;
		line-height: 26px;
	}
	.item-advantage {
		padding: 14px 30px;
		padding-bottom: 45px;
		font-size: 13px;
		line-height: 19px;
	}
	.item-advantage__title sup {
		font-size: 13px;
		top: -3px;
	}
	.advantages {
		padding: 50px 0;
	}
	.item-category__name {
		min-width: 214px;
		padding-left: 30px;
		padding-right: 22px;
		font-size: 17px;
		line-height: 26px;
	}
	.item-category__name span::before {
		margin-right: 9px;
	}
	.item-category {
		height: 255px;
	}
	.item-catalog {
		padding: 20px;
		padding-top: 13px;
	}
	.item-catalog__title {
		margin-bottom: 14px;
	}
	.list-block {
		font-size: 17px;
		line-height: 25px;
	}
	.form-samples .list-block {
		max-width: 395px;
	}
	.image-sample {
		transform: scale(0.8);
		transform-origin: 0 0;
	}
	.image-sample_1 {
		transform-origin: 100% 100%;
	}
	.title-block {
		font-size: 34px;
		line-height: 46px;
	}
	.form-samples .title-block {
		padding-bottom: 35px;
	}
	.form-block_page {
		padding: 55px 45px;
		padding-bottom: 48px;
	}
	.image-scheme {
		top: 56px;
		transform: scale(0.8);
		transform-origin: 100% 100%;
	}
	.item-delivery {
		font-size: 18px;
		line-height: 26px;
		padding-left: 42px;
		margin-top: 50px;
	}
	.image-delivery img {
		max-width: 580px;
	}
	.image-delivery {
		margin-top: 50px;
		margin-left: -121px;
	}
	.title-form {
		font-size: 22px;
		line-height: 31px;
		padding-bottom: 19px;
	}
	.wrapper {
		padding-top: 138px;
	}
	.contacts-block {
		font-size: 17px;
	}
	.title-small {
		font-size: 23px;
		line-height: 38px;
	}
	.item-partner {
		height: 120px;
	}
	.footer__contacts {
		font-size: 16px;
		line-height: 25px;
	}
	.item-catalog__image {
		height: 165px;
	}
	.item-step {
		padding: 24px;
		font-size: 13px;
		line-height: 19px;
	}
	.steps {
		padding-top: 45px;
		padding-bottom: 60px;
	}
	.header-info a {
		margin-left: 15px;
	}
	.form-block {
		padding: 40px 40px;
	}
	.item-form textarea, .item-form input {
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-categories .row_categories > div:nth-child(7) .item-category__name {
		font-size: 15px;
		line-height: 26px;
	}
	.feature-catalog {
		font-size: 13px;
		margin-bottom: 3px;
	}
	.title-section {
		font-size: 30px;
		line-height: 40px;
	}
	.partners .title-section {
		max-width: 810px;
	}
	.image-card {
		height: 300px;
		padding: 15px;
	}
	.card .feature-catalog {
		font-size: 15px;
	}
	.descr-card {
		font-size: 13px;
		line-height: 18px;
		margin-top: 25px;
	}
	.info-card {
		padding: 26px 35px;
		padding-bottom: 34px;
	}
	.price-card {
		font-size: 21px;
		line-height: 33px;
	}
	.item-info {
		padding: 21px 27px;
		padding-bottom: 27px;
	}
	.production .row_info {
		margin-bottom: 13px;
	}
	.item-news__image {
		height: 225px;
	}
	.item-news__title {
		font-size: 19px;
		line-height: 27px;
	}
	.row_news > div {
		margin-bottom: 30px;
	}
	.article .nav-article {
		margin-top: 35px;
		line-height: 30px;
	}
	.article blockquote {
		padding: 45px 35px;
		padding-right: 15px;
		line-height: 30px;
	}
	.item-gallery {
		height: 240px;
	}
	.block-form {
    padding: 24px 40px;
    padding-bottom: 32px;
}
.contact-block {
    font-size: 17px;
}
.requisites {
    line-height: 38px;
}
}
@media only screen and (max-width : 1310px) and (min-width : 1200px) {
	.container {
		max-width: 1000px;
	}
	.logo-descr {
		font-size: 10px;
		line-height: 15px;
		margin-left: 14px;
		max-width: 161px;
	}
	body {
		font-size: 14px;
		line-height: 22px;
	}
	.header-info {
		font-size: 11px;
		line-height: 17px;
	}
	.header-info a {
		margin-left: 11px;
	}
	.search-form {
		width: 188px;
	}
	.socials-simple li {
		margin-right: 10px;
	}
	.title-min {
		font-size: 16px;
		line-height: 24px;
	}
	.item-advantage__title {
		font-size: 30px;
		line-height: 36px;
	}
	.item-advantage {
		padding: 14px 21px;
		padding-bottom: 66px;
		font-size: 12px;
		line-height: 16px;
	}
	.row_advantages {
		margin: 0 -6px;
	}
	.row_advantages > div {
		padding: 0 6px;
	}
	.list-billbord {
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 20px;
		max-width: 685px;
	}
	.title-billbord {
		font-size: 50px;
		line-height: 63px;
	}
	.billbord__wrap .title-billbord {
		max-width: 419px;
	}
	.item-category {
		height: 225px;
	}
	.item-category__name {
		min-width: 200px;
		padding-left: 30px;
		padding-right: 22px;
		font-size: 15px;
		line-height: 25px;
	}
	.feature-catalog {
		font-size: 13px;
		margin-bottom: 5px;
	}
	.item-catalog__title {
		font-size: 17px;
		line-height: 22px;
	}
	.title-block {
		font-size: 29px;
		line-height: 42px;
	}
	.form-samples .title-block {
		padding-bottom: 23px;
	}
	.form-block {
		padding: 33px 25px;
	}
	.item-form textarea, 
	.item-form input {
		padding: 0 12px;
		font-size: 12px;
	}
	.item-partner {
		height: 120px;
	}
	.item-step__value {
		width: 68px;
		height: 60px;
		font-size: 26px;
		line-height: 36px;
	}
	.item-step {
		padding: 20px;
		font-size: 13px;
		line-height: 19px;
	}
	.steps {
		padding-top: 45px;
		padding-bottom: 55px;
	}
	.list-block {
		font-size: 16px;
		line-height: 24px;
	}
	.form-scheme .list-block {
		max-width: 480px;
	}
	.list-block li {
		margin-bottom: 15px;
	}
	.title-section {
		font-size: 29px;
		line-height: 39px;
	}
	.image-scheme {
		top: 15px;
		transform: scale(0.7);
	}
	.checkbox {
		font-size: 10px;
		line-height: 12px;
	}
	.form-block_page {
		padding: 40px 25px;
	}
	.image-delivery img {
		max-width: 515px;
	}
	.image-delivery {
		margin-top: 78px;
	}
	.item-question__head {
		padding: 12px;
		padding-left: 20px;
	}
	.item-question__content {
		padding: 20px;
		padding-right: 50px;
	}
	.title-form {
		font-size: 20px;
		line-height: 28px;
		padding-bottom: 15px;
	}
	.item-form textarea {
		padding-top: 10px;
	}
	.contacts-block {
		font-size: 16px;
		padding-top: 35px;
		padding-left: 25px;
		padding-right: 20px;
		width: 380px;
	}
	.footer__contacts {
		font-size: 15px;
		line-height: 24px;
	}
	.footer-bottom {
		font-size: 13px;
		line-height: 18px;
	}
	.page-categories .row_categories > div:nth-child(7) .item-category__name {
		font-size: 12px;
		line-height: 23px;
	}
	.section-text {
		padding-top: 50px;
	}
	.page-catalog .title-section {
		font-size: 26px;
		line-height: 35px;
	}
	.nav-catalog {
		line-height: 20px;
	}
	.nav-catalog a {
		padding: 12px 15px;
	}
	.info-card {
		padding: 26px 26px;
		padding-bottom: 30px;
	}
	.card .feature-catalog {
		font-size: 14px;
	}
	.descr-card {
		font-size: 12px;
		line-height: 15px;
		margin-top: 20px;
	}
	.image-card {
		height: 270px;
	}
	.item-info .title-small {
		font-size: 20px;
		line-height: 30px;
	}
}
@media only screen and (max-width : 1310px) {
	.item-news__image {
		height: 195px;
	}
	.item-news__title {
		font-size: 16px;
		line-height: 25px;
	}
	.item-news__date {
		margin-bottom: 12px;
	}
	.article blockquote {
		padding: 35px 35px;
		padding-right: 15px;
		line-height: 27px;
		max-width: 287px;
	}
	.article h2 {
		font-size: 22px;
		line-height: 32px;
		padding-top: 32px;
		padding-bottom: 13px;
	}
	.article h1 {
		font-size: 28px;
		line-height: 37px;
		padding-bottom: 17px;
	}
	.article .nav-article {
		margin-top: 25px;
		line-height: 27px;
	}
	.item-gallery {
		height: 220px;
	}
	.page-delivery .title-small {
		font-size: 18px;
		line-height: 28px;
		padding-bottom: 15px;
	}
	.contact-block {
    font-size: 16px;
}
.requisites {
    line-height: 34px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header__wrapper .header-info {
		display: none;
	}
	body {
		font-size: 14px;
		line-height: 22px;
	}
	.search-form {
		width: 250px;
	}
	.footer__contacts {
		font-size: 16px;
		line-height: 25px;
	}
	.list-billbord {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 22px;
		max-width: 645px;
	}
	.billbord__wrap {
		margin-bottom: 25px;
	}
	.name-billbord {
		font-size: 22px;
		line-height: 28px;
	}
	.title-billbord {
		font-size: 43px;
		line-height: 53px;
	}
	.value-billbord {
		font-size: 26px;
		line-height: 33px;
		padding: 16px 30px;
		margin-left: 20px;
		max-width: 179px;
	}
	.billbord__wrap .title-billbord {
		max-width: 385px;
	}
	.billbord {
		min-height: 500px;
	}
	.form-block {
		padding: 34px 20px;
	}
	.list-block {
		font-size: 15px;
		line-height: 23px;
	}
	.form-samples .list-block {
		max-width: 340px;
	}
	.title-block {
		font-size: 26px;
		line-height: 40px;
	}
	.title-section {
		font-size: 28px;
		line-height: 40px;
	}
	.partners .title-section {
		padding-bottom: 20px;
		max-width: 760px;
	}
	.partners {
		padding-top: 45px;
		padding-bottom: 50px;
	}
	.tab-container {
		padding-top: 35px;
	}
	.title-min {
		font-size: 16px;
		line-height: 23px;
	}
	.item-step {
		padding: 20px;
	}
	.steps {
		padding-top: 45px;
		padding-bottom: 50px;
	}
	.item-step__head {
		margin-bottom: 15px;
	}
	.steps .title-section {
		padding-bottom: 20px;
	}
	.form-scheme .list-block {
		max-width: 440px;
	}
	.form-block_page .checkbox {
		white-space: normal;
	}
	.descr-section {
		font-size: 18px;
		line-height: 29px;
	}
	.item-delivery {
		font-size: 16px;
		line-height: 23px;
		padding-left: 40px;
	}
	.row_delivery > div:first-child .item-delivery:first-child {
		margin-right: -20px;
	}
	.image-delivery img {
		max-width: 525px;
	}
	.contacts-block {
		font-size: 14px;
		line-height: 22px;
		padding-top: 30px;
		padding-left: 25px;
		padding-right: 20px;
		height: 540px;
		width: 355px;
	}
	.title-small {
		font-size: 20px;
		line-height: 32px;
	}
	.contacts-block .title-small {
		margin-bottom: 10px;
	}
	.contacts-block .title-small:not(:first-child) {
		margin-top: 25px;
	}
	#map {
		height: 540px;
	}
	.page-categories .item-category__name {
		font-size: 15px;
		line-height: 25px;
	}
	.page-categories .row_categories > div:nth-child(7) .item-category__name {
		font-size: 12px;
		line-height: 19px;
	}
	.section-text {
		padding-top: 50px;
		padding-bottom: 30px;
		line-height: 20px;
	}
	.page-catalog .title-section {
		font-size: 23px;
		line-height: 34px;
	}
	.row_catalog {
		margin: 0 -5px;
	}
	.row_catalog > div {
		padding: 0 5px;
		margin-top: 10px;
	}
	.info-card__descr {
		padding-top: 15px;
	}
	.info-card {
		padding: 20px 15px;
		padding-bottom: 23px;
	}
	.card .feature-catalog {
		font-size: 13px;
	}
	.descr-card {
		font-size: 12px;
		line-height: 16px;
		margin-top: 20px;
	}
	.image-card {
		height: 275px;
	}
	.item-info .title-small {
		font-size: 17px;
		line-height: 25px;
	}
	.production {
		padding-top: 25px;
		padding-bottom: 30px;
		line-height: 20px;
	}
	.production p {
		margin-bottom: 15px;
	}
	.item-news__title {
		font-size: 15px;
		line-height: 24px;
	}
	.article .nav-article {
		margin-top: 20px;
		line-height: 25px;
	}
	.page-delivery {
		padding-bottom: 20px;
	}
	.block-form .checkbox {
		white-space: normal;
	}
	.block-form {
    padding: 20px 20px;
    padding-bottom: 29px;
}
.contact-block .title-small {
    padding-bottom: 15px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-bottom,
	.header__wrapper .logo-descr,
	.header__wrapper .header-contacts,
	.header__wrapper .search-form {
		display: none;
	}
	.row_advantages > div {
		margin-top: 20px;
	}
	.advantages {
		padding: 30px 0;
		padding-top: 20px;
	}
	.slider-partners .slick-prev,
	.slider-catalog .slick-prev {
		left: -38px;
	}
	.slider-partners .slick-next,
	.slider-catalog .slick-next {
		right: -38px;
	}
	.form-samples .title-block {
		padding-top: 0;
		padding-bottom: 15px;
	}
	.form-scheme .title-section {
		padding-bottom: 25px;
	}
	.form-scheme {
		padding-top: 35px;
		padding-bottom: 45px;
	}
	.image-scheme {
		display: none;
	}
	.image-delivery {
		margin: 0;
	}
	.image-delivery img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.row_delivery > div:first-child .item-delivery:first-child {
		margin-right: 0;
	}
	.item-delivery {
		margin-top: 25px;
	}
	.col-delivery {
		order: 2;
	}
	.questions {
		padding-top: 35px;
		padding-bottom: 40px;
	}
	.contacts {
		padding: 0;
	}
	.contacts-block {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		padding-bottom: 30px;
		height: auto;
	}
	#map {
		height: 350px;
	}
	.footer {
		padding-top: 25px;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer__nav_big a, .footer__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 7px 0;
		padding-right: 15px;
	}
	.footer__nav_big, .footer__title {
		font-size: 14px;
		line-height: 21px;
	}
	.footer .logo-wrap {
		margin-bottom: 10px;
	}
	.footer-bottom {
		text-align: center;
		border: none;
		margin: 0;
	}
	.create {
		justify-content: center;
	}
	.btn_top {
		float: none;
	}
	.footer-bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer__title i {
		transition: all 0.3s;
		font-size: 13px;
		display: inline-block;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer__contacts {
		font-size: 14px;
		line-height: 23px;
	}
	.list-billbord {
		columns: initial;
	}
	.wrapper {
		padding-top: 66px;
	}
	.header__wrapper {
		padding: 10px 0;
	}
	.sandwich {
		display: flex;
	}
	.header {
		box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.3);
	}
	.header-bottom__mobile {
		display: block;
	}
	.header-bottom {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 0px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background-color: #fff;
		position: absolute; 
	}
	.menu a {
		margin: 0;
		padding: 10px 0;
		color: #000;
		font-weight: 500;
		text-align: left;
		display: block;
		position: relative;
		border-bottom: 1px solid #807F7D;
	}
	.menu a:hover {
		background-color: transparent;
	}
	.header-bottom .menu {
		display: block;
		margin: 0;
		margin-bottom: 20px;
	}
	.header-info {
		font-size: 13px;
		line-height: 19px;
		margin-bottom: 15px;
	}
	.header-bottom .search-form {
		width: 100%;
	}
	.header-bottom .header-contacts {
		align-items: flex-start;
	}
	.header-bottom .line-contacts {
		margin-bottom: 10px;
	}
	.contacts-block .btn-main {
		left: -5px;
	}

	.header .phone-main {
		font-size: 0;
		line-height: 0;
		margin-left: 15px;
	}
	.header .phone-main i {
		font-size: 15px;
		font-size: 25px;
		color: #005F97;
		display: inline-block;
	}
	.header__wrapper .header-contacts {
		display: block;
		margin-left: auto;
		margin-right: 20px;
	}
	.header__wrapper .link-simple {
		display: none;
	}
	.logo img {
		width: 145px;
	}
	.header__wrapper {
		padding: 13px 0;
	}
	.logo-wrap .logo {
		top: 0;
	}
	.footer__contacts .phone-main, 
	.contacts-block .phone-main {
		margin: 0;
	}
	.page-catalog .title-section {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.wrapper {
		overflow: hidden;
	}
	.nav-catalog {
		margin-top: 15px;
		max-height: initial;
		overflow: initial;
		display: none;
	}
	.breadcrumbs {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow: auto;
		padding: 13px 0;
		margin: 0 -15px;
		padding-left: 15px;
		margin-bottom: 15px;
	}
	.breadcrumbs li {
		padding: 9px 10px;
		background: #fff;
		box-shadow: 0 0 4px #ddd;
		border-radius: 30px;
		margin-right: 10px;
	}
	.breadcrumbs li::after,
	.breadcrumbs li span {
		display: none;
	}
	.btn-main_filter {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.image-card {
		margin-bottom: 20px;
	}
	.card .feature-catalog {
		font-size: 14px;
	}
	.descr-card {
		font-size: 14px;
		line-height: 20px;
	}
	.info-card {
		margin-top: 20px;
	}
	.article img {
		margin-top: 15px;
	}
	.article blockquote {
		margin-top: 15px;
	}
	.article h2 {
		font-size: 20px;
		line-height: 29px;
		padding-top: 25px;
		padding-bottom: 14px;
	}
	.page-about .title-small {
		padding-bottom: 12px;
	}
	.page-about .image-simple {
		margin-top: 20px;
	}
	.gallery {
		padding-bottom: 0;
	}
	.image-boxes {
		margin-top: 15px;
	}
	.page-delivery {
		padding-bottom: 0;
	}
	.page-contacts .block-form {
		margin-top: 20px;
	}
	.page-contacts #map {
		height: 350px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-billbord {
		font-size: 33px; 
		line-height: 46px;
	}
	.value-billbord {
		font-size: 20px;
		line-height: 21px;
		padding: 16px 25px;
		margin-left: 15px;
		max-width: 144px;
	}
	.billbord__wrap .title-billbord {
		max-width: 280px;
	}
	.name-billbord {
		font-size: 18px;
		line-height: 25px;
	}
	.list-block li, .list-billbord li {
		margin-bottom: 13px;
	}
	.list-billbord {
		max-width: 400px;
	}
	.billbord {
		padding-top: 30px;
		padding-bottom: 50px;
		background-position: left;
	}
	.item-advantage {
		padding-bottom: 70px;
	}
	.title-section {
		font-size: 25px;
		line-height: 33px;
	}
	.slider-catalog {
		padding-bottom: 20px;
	}
	.bottom-button {
		padding-top: 25px;
	}
	.form-samples {
		padding: 30px 0;
	}
	.form-samples .list-block {
		max-width: 100%;
	}
	.image-sample {
		display: none;
	}
	.slider-partners {
		padding-bottom: 25px;
	}
	.steps {
		padding-top: 32px;
		padding-bottom: 33px;
	}
	.tabs li {
		padding: 0 4px;
		flex-grow: 1;
	}
	.tabs {
		margin: 0 -4px;
	}
	.tabs a {
		padding: 0 15px;
		font-size: 12px;
		line-height: 17px;
	}
	.form-scheme .title-section span {
		display: inline;
	}
	.delivery {
		padding-top: 33px;
		padding-bottom: 15px;
	}
	.delivery {
		background-size: 100% auto;
	}
	.contacts-block {
		margin: 0 -15px;
		width: initial;
		max-width: initial;
	}
	.item-category__name {
		background: rgba(255, 255, 255, 0.6);
	}
	.categories {
		padding-top: 35px;
		padding-bottom: 50px;
	}
	.catalog {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.page-categories .row_categories > div:nth-child(7) .item-category__name {
		font-size: 14px;
		line-height: 24px;
	}
	.section-text h2 {
		font-size: 21px;
		line-height: 30px;
		margin-bottom: 17px;
	}
	.section-text p {
		margin-bottom: 15px;
	}
	.section-text {
		padding-top: 30px;
	}
	.prev.page-numbers {
		margin-right: 55px;
	}
	.next.page-numbers {
		margin-left: 55px;
	}
	.page-catalog {
		padding-bottom: 40px;
	}
	.row_info > div {
		width: 100%;
		margin-bottom: 20px;
	}
	.item-info {
		padding: 20px 25px;
	}
	.production .title-section {
		padding-bottom: 20px;
	}
	.production {
		padding-bottom: 35px;
	}
	.page-news {
		padding-top: 25px;
		padding-bottom: 45px;
	}
	.page-news .pager {
		margin-top: 10px;
	}
	.item-news__title {
		font-size: 16px;
		line-height: 25px;
	}
	.item-news__image {
		height: 245px;
	}
	.page-news .title-section {
		padding-bottom: 20px;
	}
	.article h1 {
		font-size: 24px;
		line-height: 34px;
		padding-bottom: 15px;
	}
	.article h2 {
		font-size: 19px;
		line-height: 29px;
		padding-top: 20px;
	}
	.article blockquote {
		padding: 25px 25px;
		padding-right: 15px;
		line-height: 23px;
	}
	.article {
		padding-bottom: 50px;
	}
	.page-about .title-small {
		font-size: 18px;
		line-height: 28px;
	}
	.gallery .title-section {
		padding-bottom: 20px;
	}
	.gallery {
		padding-top: 15px;
	}
	.slider-gallery {
		padding-bottom: 28px;
	}
	.page-delivery .title-small {
		font-size: 16px;
		line-height: 25px;
	}
	.contact-block {
		padding-bottom: 20px;
	}
	.contact-block {
    font-size: 14px;
}
.requisites {
    line-height: 30px;
}
.contact-block .title-small {
	font-size: 18px;
	line-height: 30px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-billbord {
		font-size: 26px;
		line-height: 39px;
	}
	.value-billbord {
		font-size: 18px;
		line-height: 21px;
		padding: 12px 15px;
		margin-left: 12px;
		max-width: 111px;
		border-radius: 10px;
	}
	.billbord__wrap .title-billbord {
		max-width: 215px;
	}
	.title-section {
		font-size: 23px;
		line-height: 32px;
	}
	.item-partner {
		height: 110px;
	}
	.item-question__head {
		padding: 11px;
		padding-left: 15px;
	}
	.item-question__arrow {
		width: 25px;
		height: 25px;
	}
	.item-question__content {
		padding: 15px;
		padding-right: 20px;
		font-size: 13px;
		line-height: 19px;
	}
	.form-block {
		border-radius: 13px;
	}
	.questions .form-block {
		margin-top: 20px;
	}
	#map {
		height: 300px;
	}
	.partners {
		padding: 40px 0;
	}
	.title-form {
		font-size: 20px;
		line-height: 30px;
	}
	.form-block {
		padding-top: 25px;
	}
	.questions .title-section {
		padding-bottom: 23px;
	}
	.item-step__value {
		width: 62px;
		height: 55px;
		font-size: 23px;
		line-height: 36px;
		padding-right: 9px;
	}
	.categories .title-section {
		padding-bottom: 0;
	}
	.title-block {
		line-height: 35px;
	}
	.page-categories .item-category__name {
		font-size: 13px;
		line-height: 21px;
		right: 20px;
	}
	.page-categories .item-category__name br {
		display: none;
	}
	.page-categories .row_categories > div:nth-child(7) .item-category__name {
		font-size: 13px;
		line-height: 21px;
	}
	.page-catalog .title-section {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 0;
	}
	.row_catalog > div {
		margin-top: 20px;
	}
	.image-card {
		height: 245px;
	}
	.title-section_page::after {
		display: none;
	}
	.title-section_page {
		margin: 0;
	}
	.item-news__image {
		height: 210px;
	}
	.article h1 {
		font-size: 22px;
	}
	.page-about .title-small {
		font-size: 16px;
		line-height: 26px;
	}
	.page-contacts .title-section {
    padding-bottom: 17px;
}
.page-contacts {
    padding-top: 28px;
}
.contact-block .title-small {
    padding-bottom: 10px;
}
.page-contacts .ymaps-2-1-79-balloon {
	display: none !important;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.nav-catalog,
	.header-bottom,
	.footer__content {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


@media (min-width: 1700px) {
	.container {
		max-width: 1310px;
	}
}
